services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    container_name: fams-client-dev
    command: npm run dev
    env_file:
      - ./client/.env
    ports:
      - "3000:3000"
    volumes:
      - ./client:/app
      - /app/node_modules
      - /app/.next
    networks:
      - fams-network

networks:
  fams-network:
    name: fams-net
    driver: bridge
